<% if (currentUser){ %>
  <nav
  class="footer-nav py-2 d-flex align-items-center justify-content-around"
  >
  <div class="text-center fs-3 fw-bolder">
    <a href="/posts"><i class="fa-solid fa-house"></i></a>
  </div>
  
  <div class="text-center fs-3 fw-bolder">
    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
  </div>
  
  <div class="text-center fs-3 fw-bolder" id="create-sm">
    <i class="fa-regular fa-square-plus"></i>
  </div>

  <div class="text-center fs-3 fw-bolder">
    <i class="fa-regular fa-bell"></i>
  </div>
  
  <div class="text-center fs-3 fw-bolder">
    <a href="/user/<%= currentUser._id %>"><i class="fa-solid fa-user"></i></a>
  </div>
</nav>

<% } %>