<div class="upload-section col-7" id="upload-box">
    <div class="upload-elements" >
        <div class="upload-form rounded-3">
            <form action="/posts/new" method="POST" enctype="multipart/form-data" class="needs-validation">
                <div class="upload-form-head">
                    <span class="btn text-primary" id="cancel-btn">Cancel</span>
                    <h5 class="text-center ms-auto me-auto mt-2">Create new post</h5>
                    <button type="submit" class="btn text-primary">Upload</button>
                </div>

                <hr class="m-0">

                <div class="upload-form-body row">
                    <div class="upload-form-body-image col-6 p-2">
                        <img
                          src="/assets/empty-image.png"
                          alt="No-Image-Uploaded"
                          id="source-img"
                          class="rounded-2"
                        />
                        <br>
                        <label for="image" class="btn btn-primary">Select Image</label>
                        <input
                          type="file"
                          name="post[image]"
                          id="image"
                          accept="image.png, image/jpg, image/jpeg"
                          required
                        />
                    </div>

                    <div class="upload-form-body-caption col-6 p-2">
                        <textarea
                          name="post[caption]"
                          id="caption"
                          class="ps-3"
                          placeholder="Add a caption..."
                        ></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>