<style>
  header,
  footer {
    display: none;
  }
  main {
    width: 100% !important;
    background-image: url("/assets/register-page-bg.svg");
    background-size: cover;
  }

  .home-page {
    width: 100%;
    overflow: hidden;
  }
  .home-page-inner {
    height: 100dvh;
  }
</style>
<%- layout("./layouts/boilerplate.ejs") %>

<div class="home-page container">
    <div class="row home-page-inner">
        <div class="col-6">
            fdishifh
        </div>
    </div>
</div>