.edit-inner {
  background-color: var(--edit-bg-color);
  backdrop-filter: blur(2px);
}
.edit-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.edit-form-head {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f1f1f15b;
}
.edit-form-body {
  height: 90%;
}
.edit-options textarea:focus, .edit-options input:focus {
  outline: none;
}
.edit-img {
  width: 20rem;
  height: 20rem;
}

@media screen and (max-width: 992px) {
  .edit-img {
    width: 15rem;
    height: 15rem;
  }
}
@media screen and (max-width: 768px) {
  .edit-img {
    width: 10rem;
    height: 10rem;
  }
  .edit-box {
    height: 100dvh !important;
  }
}
