:root {
    --primary-color: #e5e5e5f7;
    --secondary-color: #b1c6d3 ;
    --font-color: #0a0a0a;
    --edit-bg-color: #ffffff68;
    --upload-bg-color: #ffffffe2;
    --register-form-bg: #ffffff7e;
    --border-line: #00000053;
    --post-bg: #FFF
  }

hr {
    border-color: #000 !important;
}