.show-selected-post {
  display: grid;
  place-content: center;
}

.show-post-img {
  aspect-ratio: 1/1;
}
/* ================================================== */
.comment-section {
  max-height: 100%;
}
.comment-section .card {
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.comment-section .card-body {
  height: 25rem !important;
  overflow: scroll;
}
/* ================================================== */
.card-header {
  color: var(--font-color) !important;
}
/* ================================================== */
.commenting-user {
  font-weight: 900;
}
.commenting-value {
  font-weight: 200;
}

/* ================================================== */
.new-comment-div {
  border-color: var(--border-line) !important;
}
.new-comment-div form {
  display: flex;
  align-items: center;
  width: 100%;
}
.new-comment-div textarea {
  background-color: transparent;
  border: none;
  width: 90%;
  resize: none;
}
.new-comment-div textarea:focus {
  outline: none;
  border: none;
}
.new-comment-div button {
  font-size: 1.2rem;
  font-weight: 900;
}

/* ========================================================
                MEDIA QUERIES
=========================================================== */

@media screen and (max-width: 768px) {
  .show-post-img {
    width: 100%;
  }
}