.show-selected-post {
  display: grid;
  place-content: center;
}

.carousel-inner {
  width: 100%;
  width: 60vw !important;
}
/* ================================================== */
.carousel-item img {
  height: 25rem;
  width: 28rem;
  object-fit: contain;
}
/* ================================================== */
.comment-section {
  width: 28rem;
}
.comment-section .card {
  background-color: transparent;
  width: 100%;
}
/* ================================================== */
.card-header {
  color: var(--font-color) !important;
}
/* ================================================== */
.commenting-user {
  font-weight: 900;
}
.commenting-value {
  font-weight: 200;
}
/* ================================================== */
.card-footer form {
  display: flex;
  align-items: center;
  width: 100%;
}
.card-footer textarea {
  background-color: transparent;
  border: none;
  width: 90%;
  resize: none;
}
.card-footer textarea:focus {
  outline: none;
  border: none;
}
.card-footer button {
  font-size: 1.2rem;
  font-weight: 900;
}
.slide-btn {
  width: 5% !important;
}

/* ========================================================
                MEDIA QUERIES
=========================================================== */

