@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

:root {
  --primary-color: #111315;
  --secondary-color: #30353c;
  --font-color: #f7f7fa;
  --edit-bg-color: #00000068;
  --upload-bg-color: #000000e2;
  --register-form-bg: #0000007e;
  --border-line: #ffffff17;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: var(--primary-color);
  min-height: 100%;
  font-family: "Mukta", sans-serif;
}

*,
a {
  text-decoration: none;
  color: var(--font-color);
}

textarea {
  resize: none;
}
/* Out of Body layout */
.background-box {
  height: 100dvh;
  background-image: url("/assets/register-page-bg.svg");
  background-size: cover;
}

/* ======================================
                SIDEBAR
========================================= */
.logo {
  padding: 1.5rem 0 0.5rem 0;
  font-size: 2rem;
  font-family: "Grand Hotel", cursive;
}

.sidebar-nav {
  height: 100vh;
  overflow: hidden;
  font-size: 1.3rem;
  border-right: 1.5px solid var(--border-line);
}

.nav-opts li {
  transition: all 0.2s ease;
  width: fit-content;
}
.nav-opts li:hover,
.nav-opts li:active {
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff50;
}

.dropdown-menu {
  background-color: var(--secondary-color);
}
.dropdown-menu a {
  color: var(--font-color);
}

.nav-opts ul {
  list-style: none;
  padding-left: 0;
}
.nav-opts li {
  padding: 0.2rem 0;
  margin: 1rem 0;
}

.fa-bars {
  font-size: 1.4rem;
}

/* ======================================
            POSTS SECTION
========================================= */
.all_posts {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem 0;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* CARD */
.all-posts-card {
  border: none;
}
.post-image {
  aspect-ratio: 9.7/10;
}
.card-body {
  padding: 0.5rem 0 !important;
}
.all-posts-card-caption a {
  text-decoration: none;
  color: inherit;
}

/* ======================================
      Right-sidebar (FOOTER) SECTION
========================================= */
.right-sidebar-footer {
  height: 100vh;
  overflow: hidden;
  border-left: 1.5px solid var(--border-line);
}

.followings-profile {
  overflow-y: auto;
  height: 70%;
  border-bottom: 1px solid var(--border-line);
}
.foot-infos * {
  font-size: 0.85rem;
  color: #f1f1f179;
}

/* ======================================
      SMALL SCREEN HEADER & FOOTER
========================================= */
/* Header */
.header-nav {
  border-bottom: 2px solid var(--border-line);
  background-color: var(--primary-color);
}

/* footer */
.footer-nav {
  border-top: 2px solid var(--border-line);
  background-color: var(--primary-color);
}

/* =========================================================
                      Media Queries
============================================================*/

@media screen and (max-width: 768px) {
  .all_posts {
    height: unset;
    overflow-y: visible;
  }
}

/* =========================================================
                  Search Area
============================================================*/
.search-box button {
  background-color: var(--secondary-color);
}
.search-box input {
  border-color: var(--secondary-color);
  color: var(--font-color) !important;
}
.search-box input::placeholder {
  color: var(--font-color) !important;
  opacity: 0.7 !important;
}
.search-box input::-ms-input-placeholder {
  color: var(--font-color) !important;
  opacity: 0.7 !important;
}

@media screen and (max-width: 768px) {
  .search-box form {
    width: 100% !important;
  }
}
