.row {
  --bs-gutter-x: 0 !important;
}

.upload-section {
  display: none;
}
.upload-section {
  position: absolute;
  z-index: 999;
  height: 100vh;
  animation: show-upload-box .15s ease-in-out;
}
@keyframes show-upload-box {
  from {opacity: 0;}
  to {opacity: 1;}
}

.upload-section-inner {
  background-color: var(--upload-bg-color);
  backdrop-filter: blur(2px);
}

.upload-section-form-head {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f1f15b;
}

.upload-section-form-body {
    height: 90%;
}

.upload-section-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.upload-section-options textarea:focus {
    border: none !important;
    outline: none;
}

.upload-img {
  width: 22rem;
  height: 25rem;
}

@media screen and (max-width: 992px) {
  .upload-img {
    width: 17rem;
    height: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .upload-section {
    position: fixed;
    top: 0%
  }
}
